<md-bottom-sheet class="md-has-header">
  <md-subheader ng-cloak>About</md-subheader>
  <md-list ng-cloak>
    <md-list-item>
      <div>
        <a ng-href="https://ec.europa.eu/programmes/horizon2020/" target="_blank">
          <img src="images/eu.png" style="float: left; margin-right: 2em;" alt="European Union" />
        </a>
        <p>
          2016 &copy; <a ng-href="http://ssix-project.eu/" class="md-accent" target="_blank">SSIX Project</a>
        </p>
        <p>
          This works has been partially funded by the European Union’s Horizon 2020
          research and innovation programme under grant agreement No. 645425.
        </p>
      </div>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
