<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SSIX NLP Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/material-design-icons/iconfont/material-icons.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="nlpUiApp" ng-controller="MainCtrl" layout="column" ng-cloak>

    <md-toolbar class="md-primary md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-disabled="true">
          <md-icon>menu</md-icon>
        </md-button>
        <h1>
          <span>SSIX NLP Demo</span>
        </h1>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="showInfo()">
          <md-icon>info_circle</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content class="md-padding" flex>
      <form name="contentForm">

        <p>
          Simple demo consuming the SSIX NLP Generic REST API.
        </p>

        <p>
          Please, introduce the content (tweet) you want to analyse:
        </p>

        <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center" class="md-padding">
          <md-input-container class="md-block" flex-gt-sm="80">
            <label>Content</label>
            <textarea ng-model="content.text" required></textarea>
          </md-input-container>
          <md-button type="submit" class="md-primary md-raised" ng-click="submit(content)">
            Submit content
          </md-button>
        </div>

        <div class="page md-padding" ng-show="result">
          <p>Raw result from the NLP service:</p>
          <md-card class="page md-margin" >
            <pre class="md-padding">{{result|json}}</pre>
          </md-card>
        </div>

      </form>

    </md-content>

    <!-- GA disabled during development
    <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-80652475-1');
       ga('send', 'pageview');
    </script>
    -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/analyse.js"></script>
    <!-- endbuild -->

</body>
</html>
